.portfolio__title {
  display: flex;
  justify-content: center;
}
.portfolio {
  background-color: rgb(40 75 40);
}
.portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.portfolio__title-head {
  margin: 0;
}
.padding-b {
 padding-bottom: 15px;
}
.portfolio__items {
  column-count: 3;

}
.img-size {
  width: -webkit-fill-available;
}
.items-rounded {
  box-shadow: 5px 10px 10px 0px rgb(0 0 0 / 30%);
  border-radius: 15px;
  overflow: hidden;
}

