/* .main {
  position: relative;
} */
  
.main__title {
  font-size: 50px;
  margin-bottom: 30px;
}
  
.main__description p {
  margin: 20px 0;
  font-size: 24px;
}
  
/* .main__bg {
  background-color:darkcyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */
.main {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  inset: 0;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  object-fit: cover;
}
.main__container {
  box-sizing: border-box;
  width: 1024px;
  padding: 20px;
  text-align: center;
  background-color: rgba(26, 30, 36, 0.6);
  border-radius: 20px;
}
.span-bold {
  font-weight: bold;
}