.main__title {
  font-size: 42px;
}

.main__description-p {
  margin: 20px 0;
  font-size: 24px;
}
@media(max-width: 960px) {
  .main__title {
    font-size: 36px;
    margin: 20px 0;
  }

  .main__description-p {
    margin: 10px 0;
    font-size: 18px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.background-image {
  position: absolute;
  inset: 0;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  z-index: -1;
  object-fit: cover;
}
.main__container {
  width: 100vw;
  max-width: 1024px;
  text-align: center;
  background-color: rgba(30, 33, 39, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(3px);
}
.span-bold {
  font-weight: bold;
}
.socials {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials-ico {
  height: 27px;
  width: 27px;

}
.socials-ico__vk {
  height: 27px;
  width: 35px;
}
.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

@media(max-width: 640px) {
  .main__title {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 0;
  }


  .main__description-p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
  }
  .actions {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
  }
  
}