
  
.main__title {
  font-size: 50px;
  margin-bottom: 30px;
}
  
.main__description p {
  margin: 20px 0;
  font-size: 24px;
}
  
/* .main__bg {
  background-color:darkcyan;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */