.about {
    background-color: rgb(45 40 30);
}
.my-image {
    border-radius: 20px;
    height: 350px;
}
.about__content, .work {
    display: flex;
}
.interests__item {
    display: flex;
    column-gap: 10px;
    padding-top: 5px;
}
.about__info {
    padding-left: 50px;
}

.about__title {
    margin-top: 0;
}