.header {
	padding: 20px;
	background-color: teal;
	color: white;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
	font-weight: bold;
}

.header__nav-item:hover {
	color: #868686;
	cursor: pointer;
	box-shadow: 0 1px #646464,
		inset 0 -1px #000;
	display: inline;
	transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
}